.container{
  border: solid 1px black;
}
.form-container{
  display: block;
  text-align: center;
}
.login-form{
  width:500px;
  display: inline-block;
  border: 1px;
}
.footnote {
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn-sign-up{
  margin-left: 10px;
}