.Home {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 60px;
  margin: 0px;
  overflow-x: hidden;
  align-items: center;
}

.first-row {
  padding-top: 10px;
  display: column;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

img {
  width: 80%;
  height: 80%;
}

.btn-lg {
  padding-bottom: 20px;
  margin: 5px;
  font-size: 40px;
  border-radius: 20px;
  width: 100%;
}

.section-one {
  padding-top: 10px;
  width: 75%;
}

.section-two {
  padding: 10px;
  width: 90%;
  border: solid;
  border-color: black;
  border-radius: 5px;
}

.links {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.button {
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #fc466b;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #3f5efb;
  padding: 10px;
  margin: 10px;
  width: 100%;
}

.button:hover {
  background-color: #e7244b;
}

.button:active {
  background-color: #3f5efb;
  box-shadow: 0 5px #3f5efb;
  transform: translateY(4px);
}
