.container{
  padding-top: 20px;
  border: solid 1px black;
  width: 50%;
  min-width: 600px;
}
.form-container{
  display: block;
  text-align: center;
  width: 100%;
}
.register-form{
  width:500px;
  display: inline-block;
  border: 1px;
}
.footnote {
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.link-login{
  margin-left: 10px;
}